:root{
    --blue:#007bff;
    --indigo:#6610f2;
    --purple:#6f42c1;
    --pink:#e83e8c;
    --red:#dc3545;
    --orange:#fd7e14;
    --yellow:#ffc107;
    --green:#28a745;
    --teal:#1abc9c;
    --cyan:#17a2b8;
    --white:#fff;
    --gray:#6c757d;
    --gray-dark:#343a40;
    --primary:#1abc9c;
    --secondary:#2c3e50;
    --success:#28a745;
    --info:#17a2b8;
    --warning:#ffc107;
    --danger:#dc3545;
    --light:#f8f9fa;
    --dark:#343a40;
    --breakpoint-xs:0;
    --breakpoint-sm:576px;
    --breakpoint-md:768px;
    --breakpoint-lg:992px;
    --breakpoint-xl:1200px;
    --font-family-sans-serif:"Lato",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}

.ma-2{margin:2px;}.mt-2{margin-top:2px;}.mb-2{margin-bottom:2px;}.ml-2{margin-left:2px;}.mr-2{margin-right:2px;}.ma-5{margin:5px;}.mt-5{margin-top:5px;}.mb-5{margin-bottom:5px;}.ml-5{margin-left:5px;}.mr-5{margin-right:5px;}.ma-10{margin:10px;}.mt-10{margin-top:10px;}.mb-10{margin-bottom:10px;}.ml-10{margin-left:10px;}.mr-10{margin-right:10px;}
.pd-2{padding: 2px;}.pdx-2{padding: 2px 0;}.pdy-2{padding: 0 2px;}.pd-5{padding: 5px;}.pdx-5{padding: 5px 0;}.pdy-5{padding: 0 5px;}.pd-10{padding: 10px;}.pdx-10{padding: 10px 0;}.pdy-10{padding: 0 10px;}

.d-flex{display:flex;}
.d-flex-column{flex-direction:column;}
.d-flex-row{flex-direction:row;}
.justify-content-around{justify-content:space-around;}.justify-content-between{justify-content:space-between;}.justify-content-center{justify-content:center;}
.align-items-center{align-items:center;}.align-items-end{align-items:flex-end;}.align-items-start{align-items:flex-start;}

.d-grid{display: grid;}
.g-gap-10{grid-gap: 10px;}.g-gap-5{grid-gap: 5px;}.g-gap-15{grid-gap: 15px;}.g-gap-20{grid-gap: 20px;}.g-gap-30{grid-gap: 30px;}.g-gap-40{grid-gap: 40px;}.g-gap-50{grid-gap: 50px;}

html {
  scroll-behavior: smooth;
}

/* Main nav */
#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: padding 0.5s;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 700;
}

.navbar{
  padding: .5rem 1rem;
  background: var(--secondary);
}

.fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  }

  .container{
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .navbar-nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    transition: display 1s;
  }

  .nav-items a{
    margin: 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 28px;
    color: var(--light);
  }

  #plansover:hover, #aboutover:hover, #contactover:hover, .fa-home:hover{
    color: var(--yellow);
  }

  #plansover, #aboutover, #contactover{
    border-radius: 5px;
    padding: 10px;
  }

  @media (min-width: 700px){
  .btn-menu{
    display: none;
  }}

  @media (max-width:700px) {
    .navbar-nav{
      display: none;
    }

    .navbar-nav ul{
      flex-direction: column;
    }

    .navbar-nav li{
      margin: 10px;
    }

    .responsive{
      display: block !important;
      flex-grow: 1;
      flex-basis: 100%;
    }

    .container{
      flex-wrap: wrap;
    }

  }

/* button */
  button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    background: var(--success);
    color: var(--light);
    border: .5rem transparent;
    border-radius: 8px;
    padding: 20px;
  }

  button:hover{
    cursor: pointer;
    opacity: 0.8;
  }

  .fa-bars{
    margin-left: 5px;
  }

  .fa-home{
    font-size: 50px;
    color: white;
  }

  .fa-star{
    font-size: 50px;
    color: var(--yellow);
  }
/* Header */

header{
  background-color: var(--success);
  padding: 100px;
}

.header{
  /* width: 100%; */
  display: grid;
  grid-gap: 10px;
  justify-content: center;
}

.title-header{
  text-align: center;
}

h1{
  font-family: var(--font-family-sans-serif);
  font-size: 70px;
  text-transform: uppercase;
  color: white;
  text-shadow: black 2px 2px 5px;
}

h2{
  font-family: var(--font-family-sans-serif);
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: var(--yellow);
  text-shadow: black 2px 2px 5px;
}

.img-player{
  width: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.star-logo div{
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
}

.star-logo div:before, .star-logo div:after {
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient(to var(--direction, left), var(--yellow), transparent);
}

.star-logo div:after {
  --direction: right;
}

/* plans section */

#plans{
 padding: 100px;
}

.plans{
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10rem;
  margin: 20px 0;
}

.img-plans{
  width: auto;
  display: grid;
}

.items-plans{
  width: 100%;
}

h3{
  font-family: var(--font-family-sans-serif);
  font-size: 40px;
  text-align: center;
  margin: 0;
}

.info-plan:hover{
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-bottom: 150px;
  padding: 50px;
  border: 1px solid #888;
  width: 80%;
  height: auto;
  border-radius: 20px;
}

.infoModal{
  text-align: center;
  grid-gap: 20px;
  width: 100%;
}

.imgModal{
  width: 100%;
  max-width: 300px;
}

/* The Close Button */
.closeModal {
  color: #aaaaaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.textModal{
  font-family: var(--font-family-sans-serif);
  font-size: 20px;
}

/* about section */

#about{
  background: var(--success);
  padding: 100px;
}

.about-section h2{
  padding: 20px;
}

.about-p{
  font-family: var(--font-family-sans-serif);
  font-size: 28px;
  text-align:center;
  color: white;
}

/* Contact section */

#contact{
  padding: 100px 0;
}

.contact{
  padding: 100px;
}

.btn-contact{
  max-width: 150px !important;
  height: auto;
  padding: 20px;
  border: 0!important;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: var(--success);
}

.btn-contact:hover{
  cursor: pointer;
  background: rgba(40,130,69,1);
}

.form{
  font-family: var(--font-family-sans-serif);
  font-size: 28px;
  color: gray;
}

.form input{
  border: transparent;
  border-bottom: 0.5px solid rgba(0,0,0,0.5);
  width: 100%;
  height: auto;
  font-size: 20px;
}

/* Footer section */

.footer{
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  grid-gap: 100px;
  background: var(--secondary);
  padding-top: 20px;
}

.footer h3{
  color: white;
  text-transform: uppercase;
  font-size: 28px;
}

.footer p{
  color: white;
  font-family: var(--font-family-sans-serif);
  font-size: 20px;
  text-align: center;
}

.media-icons a{
  font-size: 40px;
  color: white;
  padding-top: 20px;
}

.fa-facebook:hover{
  color: blue;
}
.fa-twitter:hover{
  color:var(--blue);
}
.fa-instagram:hover{
  color:darkviolet;
}
.fa-github:hover{
  color:black;
}

.copy{
  text-align: center;
  font-family: var(--font-family-sans-serif);
  background: var(--gray-dark);
  padding: 40px;
  color: gray;
}

.fo-footer{
grid-column: 1/-1;
}
